.input-panjang {
    text-align: right;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 8px;
    font-size: 0.9rem;
    font-family: Arial, Helvetica, sans-serif;
}

.padding-title {
    margin-top: 0;
    margin-bottom: 1em;
}

.center-contentimage {
    display: flex;
    justify-content: center;
}

.about-content {
    text-align: center;
    padding-top: 5px;
}

.about-content a {
    color: #FF7500;
    text-decoration: none;
}
