<div>
    <!-- INSERT HTML HERE -->
    <div class="container">
        <div class="center-contentimage">
            <img src="@/assets/key.svg" width="64" alt="Icon" loading="lazy">
        </div>
        <h2>Password Generator</h2>
        <div class="result-container">
            <span id="result"></span>
            <button class="btn" id="clipboard" v-on:click="salinTempelKataSandi()">
                <i class="far fa-clipboard"></i>
            </button>
        </div>
        <div class="settings">
            <div class="setting">
                <label>Panjang Password</label>
                <input type="text" id="length" min='4' max='20' value='20' v-model="stringPanjangPass"
                    class="input-panjang" />
            </div>
            <div class="setting">
                <label>Gunakan Huruf Besar</label>
                <input type="checkbox" id="uppercase" checked v-model="statusCheckbox.stringStatusUppercase"
                    true-value="1" false-value="0" />
            </div>
            <div class="setting">
                <label>Gunakan Huruf Kecil</label>
                <input type="checkbox" id="lowercase" checked v-model="statusCheckbox.stringStatusLowerCase"
                    true-value="1" false-value="0" />
            </div>
            <div class="setting">
                <label>Gunakan Angka</label>
                <input type="checkbox" id="numbers" checked v-model="statusCheckbox.stringStatusNumber" true-value="1"
                    false-value="0" />
            </div>
            <div class="setting">
                <label>Gunakan Simbol Unik</label>
                <input type="checkbox" id="symbols" checked v-model="statusCheckbox.stringStatusSimbol" true-value="1"
                    false-value="0" />
            </div>
        </div>
        <button class="btn btn-large" id="generate" v-on:click="cekIsianPanjangPassword()">
            Buat Password
        </button>
        <div class="about-content">Kode Sumber App ini di <a
                href="https://github.com/html-css-eksperimen/GeneratorPasswords" target="_blank">Github</a>.
            Icons made by <a href="https://www.flaticon.com/authors/payungkead" title="Payungkead">Payungkead</a> from
            <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
    </div>


    <!-- SOCIAL PANEL HTML -->
    <!-- <div class="social-panel-container">
        <div class="social-panel">
            <p>Created with <i class="fa fa-heart"></i> by
                <a target="_blank" href="https://florin-pop.com">Florin Pop</a></p>
            <button class="close-btn"><i class="fas fa-times"></i></button>
            <h4>Get in touch on</h4>
            <ul>
                <li>
                    <a href="https://www.patreon.com/florinpop17" target="_blank">
                        <i class="fab fa-discord"></i>
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/florinpop1705" target="_blank">
                        <i class="fab fa-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="https://linkedin.com/in/florinpop17" target="_blank">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </li>
                <li>
                    <a href="https://facebook.com/florinpop17" target="_blank">
                        <i class="fab fa-facebook"></i>
                    </a>
                </li>
                <li>
                    <a href="https://instagram.com/florinpop17" target="_blank">
                        <i class="fab fa-instagram"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <button class="floating-btn">
        Get in Touch
    </button> -->

    <div class="floating-text">
        Part of <a href="https://florin-pop.com/blog/2019/09/100-days-100-projects"
            target="_blank">#100Days100Projects</a>
        <p> </p>
        <!-- <div>Kode Sumber App ini di <a href="https://github.com/html-css-eksperimen/GeneratorPasswords">Github</a>. Icons made by <a href="https://www.flaticon.com/authors/payungkead" title="Payungkead">Payungkead</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->
    </div>
</div>